/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #edf1f7;
}


.bottom {
  &.center {
    &:after{
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #ffffff transparent;
      position: absolute;
      top: -10px;
      right: calc(50% - 10px);
    }
  }
}

.top{
  &.center{
    &:after{
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: #ffffff transparent transparent transparent;
      position: absolute;
      bottom: -10px;
      right: calc(50% - 10px);
    }
  }
}
