<div class="container mt-5">
  <div class="row justify-content-center mt-5" style="padding-top: 10rem">
    <div class="col-md-1">
      <button mat-raised-button [popoverTrigger]="popover">
        Trigger
      </button>
    </div>
  </div>

</div>


<ng-template #popover>
  <div class="arrow"></div>
  <div style="width: 105px; height: 100px">
    <div class="card">
      <div class="card-header">Hello World</div>
      <div class="card-body">
        Body Change
      </div>
      <div class="card-footer">
        asdf
      </div>
    </div>
  </div>
</ng-template>
