body{
  background-color: gray;
}

.cdk-overlay-pane.bottom.center {
  /* Border */
  border: 1px solid #d1d5db;

  /* Used to position the arrow */
  position: relative;
}

.cdk-overlay-pane.bottom.center .arrow{
  height: 0.5rem;
  width: 0.5rem;

  background-color: #fff;
  position: absolute;

  bottom: -0.5rem;
  left: 50%;

  /* Border */
  border-bottom: 1px solid #d1d5db;
  border-right: 1px solid #d1d5db;
  transform: translate(-50%, -50%) rotate(45deg);
}
